body {
    background-color: #f2f4f9;
}


#block-body {
    width: 950px;
    margin: 5px auto;
    background-color: white;
    border: 1px solid #e0e0e0;
}

#block-header {
    width: 950px;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
}

#block-header1 {
    width: 300px;
    float: left;
}

#block-header1 h3 {
    font: 20px tahoma;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#block-header1 p{
    margin-left: 15px;
    margin-top: 10px;
}

#block-header1 a{
    font: 15px tahoma;
    color: black;
}

#block-header2 {
    width: 300px;
    float: right;
}

#block-header2 p{
    margin-top: 10px;
    margin-right: 10px;
    font: 13px tahoma;
}

#block-header2 a{
    font: 14px tahoma;
    text-decoration: none;
    color: black;
}

#block-header2 a:hover{
    text-decoration: underline;
}

#block-header2 span{
    border-bottom: 1px dashed black;
}

#left-nav {
    width: 20px;
    height: auto;
    min-width: 200px;
    position: absolute;
}

#left-nav ul{
    margin-top: 10px;
}

#left-nav li{
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ededed;
}

#left-nav a{
    font: 15px tahoma;
    text-decoration: none;
    color: black;
}

#left-nav a:hover{
    text-decoration: underline;
}

#block-content {
    width: 747px;
    min-height: 650px;
    height: auto;
    margin-left: 201px;
    border-left: 1px solid #e0e0e0;
}

#block-parameters {
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f2f2f2;
}

#title-page {
    font: 18px tahoma;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}

#block-info {
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
}

#count-style {
    margin-top: 12px;
    font: 14px tahoma;
    margin-left: 10px;
    position: absolute;
}

#block-tovar{
    margin-top: 10px;
}

#block-tovar li{
    height: 260px;
    width: 230px;
    float: left;
    margin-left: 10px;
}

#block-tovar p{
    margin-top: 10px;
    font: 15px sans-serif;
    text-align: center;
}

.delete{
    font:bold 13px sans-serif;
    color: #D6533C;
    cursor: pointer;
    text-decoration: underline;
}

.green{
    font:bold 13px sans-serif;
    color: green;
}

.pstrnav {
    height: 40px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}

.pstrnav li{
   float: left;
   margin-top: 10px;
}
.pstrnav a{
    font: 17px sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
}

.pstrnav a:hover{
    color: #E26029;
}

a.pstr-prev, a.pstr-next{
    color: #006289;
    font: 14px arial;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}

a.pstr-prev:hover, a.pstr-next:hover{
    text-decoration: none;
}

.pstrnav a.pstr-active{
    color: #D95D27;
    font-weight: bold;
}

.pstrnav p.nav-point{
    text-align: center;
    font:14px sans-serif; 
    margin-top: 5px;  
} 

#footerfix{
    clear: both;
}

#options-list > li{
    float: left;
    margin-left: 10px;
    font: 14px sans-serif;
    margin-top: 13px;   
}

#options-list > li > a{
    color: #748996;
}

#list-links{
    background-color: white; 
    border: 1px solid #A3C0D2;
    position: absolute;
    display: none;
    width: 450px;
   padding-top: 5px;
   padding-bottom: 7px;
   height: auto;
   z-index: 1;
}

#list-links > ul{
   width: 150px;
   float: left;
}

#list-links > ul > li{
   margin-top: 3px;
   margin-left: 10px;
}

#list-links > ul > li > a{
   font: 15px sans-serif;
   text-decoration: none; 
   color: black;
}

#list-links > ul > li > a:hover{
   text-decoration: underline; 
}